<h1>Products List</h1>

<form method="get" action="/api/products">
  <input type="text" name="query" placeholder="Category" value="{{filters.query}}">
  <input type="number" name="minPrice" placeholder="Min Price" value="{{filters.minPrice}}">
  <input type="number" name="maxPrice" placeholder="Max Price" value="{{filters.maxPrice}}">
  <select name="sort">
    <option value="">Sort By</option>
    <option value="asc" {{#ifEquals filters.sort "asc"}}selected{{/ifEquals}}>Price Ascending</option>
    <option value="desc" {{#ifEquals filters.sort "desc"}}selected{{/ifEquals}}>Price Descending</option>
  </select>
  <button type="submit">Filter</button>
</form>

{{#if products.length}}
<ul>
  {{#each products}}
  <li data-product-id="{{this._id}}" data-stock="{{this.stock}}">
    <div class="title">{{this.title}}</div>
    <div class="description">{{this.description}}</div>
    <div class="meta">
      <span class="price">${{this.price}}</span>
      — <small>ID: {{this._id}}</small>
      — <small>Code: {{this.code}}</small>
      — <small>Stock: {{this.stock}}</small>
      — <small>Category: {{this.category}}</small>
    </div>
    <button class="btn-add-cart">Agregar al carrito</button>
  </li>
  {{/each}}
</ul>

<div class="pagination">
  {{#if (gt page 1)}}
    <a href="?page={{subtract page 1}}&query={{filters.query}}&minPrice={{filters.minPrice}}&maxPrice={{filters.maxPrice}}&sort={{filters.sort}}">
      Previous
    </a>
  {{/if}}
  <span>Page {{page}} of {{totalPages}}</span>
  {{#if (lt page totalPages)}}
    <a href="?page={{add page 1}}&query={{filters.query}}&minPrice={{filters.minPrice}}&maxPrice={{filters.maxPrice}}&sort={{filters.sort}}">
      Next
    </a>
  {{/if}}
</div>

{{else}}
<p>No products available.</p>
{{/if}}

<div id="cartModal" class="modal">
  <div class="modal-content">
    <h3>Agregar producto al carrito</h3>
    <label>Seleccionar carrito:</label>
    <select id="selectCart"></select>
    <label>Cantidad:</label>
    <input type="number" id="inputQuantity" min="1" value="1">
    <div class="modal-buttons">
      <button id="btnCancel">Cancelar</button>
      <button id="btnConfirm">Agregar</button>
    </div>
    <p id="modalError"></p>
  </div>
</div>


<link rel="stylesheet" href="/css/home.css">
<script src="/js/home.js"></script>